
h1, p, h3 {
    margin:0;
}
:root {
    --result-container-bg-top-gradient: hsl(252, 100%, 67%);
    --result-container-bg-bottom-gradient: hsl(241, 81%, 54%);
    --result-container-circle-top-gradient: hsla(256, 72%, 46%, 1);
    --result-container-circle-bottom-gradient: hsla(241, 72%, 46%, 0);
    --result-score-faded-white-text-color: hsl(241, 100%, 89%);
    --result-header-score-text-color: hsl(0, 0%, 100%);
    --result-reaction-score-bg-color: hsl(0, 100%, 67%);
    --result-memory-score-bg-color: hsl(39, 100%, 56%);
    --result-visual-score-bg-color: hsl(234, 85%, 45%);
    --result-verbal-score-bg-color: hsl(166, 100%, 37%);
    --result-summary-score-earned-color: hsl(224, 30%, 27%);
    --card-font-family: Hanken Grotesk;
}
body {
    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;
    background-color: #ECF2FF;
    font-family: var(--card-font-family), serif;
    @media (max-width: 375px) {
        display: flex;
        flex-direction: column;
        background-color: var(--result-header-score-text-color);
        margin: 0;
        padding: 0;
    }
}

.results-component {
    background-color: var(--result-header-score-text-color);
    display: flex;
    flex-direction: row;
    border-radius: 35px;
    @media (max-width: 375px) {
        width:100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /*background: transparent;*/
        background-color: var(--result-header-score-text-color);


    }
}
.result-score-container {
    display: flex;
    border-radius: 35px;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    background: linear-gradient(to bottom, var(--result-container-bg-top-gradient), var(--result-container-bg-bottom-gradient)) ;
    @media (max-width: 375px) {
        width: 100%;
        border-radius: 0 0 35px 35px;
    }
}
.result-score-header {
    font-size: 1rem;
    color: var(--result-score-faded-white-text-color);
 }

.result-score-container {
    color: var(--result-header-score-text-color);
}
.result-score-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin: 1rem 0 .5rem 0;
    text-align: center;
    background: linear-gradient(to bottom, var(--result-container-circle-top-gradient), var(--result-container-circle-bottom-gradient)) ;

}

.result-score-earned > h1 {
    font-weight: 800;
    font-size: 4rem;
}

.result-score-earned > p {
    font-weight: 500;
    opacity: 50%;
}
.result-score-earned > p {
    color: var(--result-score-faded-white-text-color);
}
.result-score-affirmation {
    font-size: 1.7rem;
    margin: .5rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.result-stat-blurb {
    color: var(--result-score-faded-white-text-color);
    width: 65%;
    margin: .5rem 0 2rem 0;
    text-align: center;
}
.result-summary-container {
    display: flex;
    flex-direction: column;
    background-color: var(--result-header-score-text-color);
    border-radius: 35px;

    align-items: center;
    width: 50%;
    @media (max-width: 375px) {
        width: 100%;

    }
}
.summary-header {
    font-weight: 500;
    margin: 2.5rem 0 1.5rem 0;
    text-decoration: none;
    text-align: left;
    width: 90%;
    color: #1A2340;
    font-size: 1rem;
}
.summary-broken-down-scores {
    width: 90%;

}
.skill-score {
    width: 90%;
    background-color: color-mix(in srgb, var(--result-reaction-score-bg-color) 5%, transparent);
    display: flex;
    color: var(--result-reaction-score-bg-color);
    font-weight: 500;
    padding: 15px 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    justify-content: space-between;

}
.skill-score:nth-child(2) {
    background-color: color-mix(in srgb, var(--result-memory-score-bg-color) 5%, transparent);
    color: var(--result-memory-score-bg-color);
}

.skill-score:nth-child(3) {
    background-color: color-mix(in srgb, var(--result-verbal-score-bg-color) 5%, transparent);
    color: var(--result-verbal-score-bg-color);
}

.skill-score:nth-child(4) {
    background-color: color-mix(in srgb, var(--result-visual-score-bg-color) 5%, transparent);
    color: var(--result-visual-score-bg-color);
}

.image-container {
    vertical-align: middle;
    line-height: 0;
    margin-right: 4px;
    display: inline-block;
}
.image-container >span{
    line-height: 0;
    display: inline-block;
}
.skill-name > p{
    line-height: 0;
    display: inline-block;
}
.actual-score {
    font-weight: 700;
}
.actual-score-earned {
    color: var(--result-summary-score-earned-color);
}
.max-score {
    margin-left: 4px;
    color: hsla(0, 0%, 45%, 0.5);
}

.continue-button {
    background-color: hsl(224, 30%, 27%);
    width: 70%;
    text-align: center;
    padding: 1rem 1rem;
    margin-top: 1rem;
    border-radius: 25px;
    font-weight: 500;
    color: var(--result-header-score-text-color);
    @media (max-width: 375px) {
        padding: 1rem .5rem;
        margin-bottom: 1.5rem;
    }
}
.continue-button:hover {
    background: linear-gradient(
                to bottom,
                var(--result-container-bg-top-gradient),
                var(--result-container-bg-bottom-gradient)
                );
}
